@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

$light: #ded6d1;
$dark: #0a1128;
$dark2: #333;
$dark3: #555;
$primary: #23a8c6;
$primaryDark: color.scale($primary, $lightness: -20%);
$primaryDark2: color.scale($primary, $lightness: -40%);
$secondary: #eec6ca;
// $tertiary: #ffb7c3; // if needed

$headingFont: Fraunces;
$bodyFont: Nunito;

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
