@use "./variables" as v;

header {
  @include v.flex-wrap;
  justify-content: space-between;
  padding: 1rem 0;

  .logo {
    font-size: 1.8rem;
  }

  nav {
    @include v.flex-wrap;
    gap: 1rem;

    a {
      color: v.$light;

      &:hover {
        color: v.$primary;
      }
    }
  }
}

.hero {
  @include v.flex-wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem 0;

  &-text {
    flex: 0 1 50rem;

    h1,
    h2 {
      padding: 0;
    }

    h1 {
      font-weight: 500;
    }

    h2 {
      color: v.$primary;
      font-weight: 100;
    }
  }

  img {
    width: 20rem;
    border-radius: 50%;
    outline: 5px solid v.$dark3;
  }
}

main {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    padding: 3rem 0 0;

    h2 {
      color: v.$primary;
      font-weight: 900;
    }

    &#projects {
      @include v.flex-wrap;
      flex-direction: column;
      gap: 0 3rem;

      article.projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        grid-template-rows: auto;
        gap: 2rem;

        .projects-card {
          // border: 1px solid v.$light;
          padding: 1.5rem;
          flex: 1 0 25%;

          img {
            border-radius: 0.5rem;
          }

          h4 {
            color: v.$secondary;
          }

          div {
            font-size: 1.4rem;

            &.buttons {
              @include v.flex-wrap;
              gap: 1.5rem;
              padding: 0.5rem 0;

              a {
                background-color: v.$primary;
                border-radius: 1rem;
                padding: 0.5rem 1rem;
                color: v.$dark;

                &:hover {
                  background-color: v.$primaryDark;
                }
              }
            }
          }
        }
      }
    }

    &#resume {
      article {
        padding: 0 0 1rem;

        h4 {
          color: v.$secondary;
        }

        & > div {
          padding-bottom: 1rem;
        }

        .experience,
        .education {
          h5 {
            padding: 2rem 0 0;
          }

          h6 {
            padding: 1rem 0 0;
          }

          .timeframe {
            display: inline-block;
            font-family: v.$bodyFont;
            color: v.$primaryDark;
            margin-left: 1rem;
            font-size: 1.4rem;
            font-weight: 500;
          }

          .online {
            font-size: 1.3rem;
            background-color: v.$light;
            color: v.$dark;
            border-radius: 1rem;
            padding: 0 0.5rem;
            font-family: v.$bodyFont;
          }

          a {
            color: v.$light;
            font-size: inherit;
          }

          ul {
            padding: 0;
            margin: 0;

            li {
              list-style: inside;
            }
          }
        }
      }
    }

    &#about {
      @include v.flex-wrap;

      p {
        font-size: 1.6rem;
        flex: 1 0 100%;
      }

      h3 {
        flex: 1 0 100%;
      }

      h4 {
        color: v.$light;
        flex: 1 0 100%;
      }

      article {
        flex: 1 0 calc(30% - 6rem);
        border-right: 1px solid v.$secondary;
        padding: 1rem 3rem;

        &:last-child {
          border-right: none;
        }
      }
    }

    &#contact {
      display: flex;
      flex-direction: column;
      width: 100%;

      form {
        max-width: 56rem;
        width: 100%;

        label {
          @include v.flex-wrap;
          padding: 1rem 0;
          font-size: 1.8rem;

          input,
          textarea {
            flex: 1 0 100%;
            margin: 1rem 0;
            padding: 1rem;
            font-size: 1.8rem;
            font-family: v.$bodyFont;
            background-color: v.$dark;
            border: 2px solid rgba(v.$primary, 0.5);
            border-radius: 1rem;
            color: v.$light;
          }
        }
      }
    }

    div.languages {
      @include v.flex-wrap;
      gap: 1rem;
      padding: 1rem 0;

      span {
        border: 1px solid v.$secondary;
        background-color: v.$secondary;
        color: v.$dark;
        border-radius: 2rem;
        padding: 0.3rem 1rem;
        font-size: 1.3rem;
      }
    }
  }
}

footer {
  @include v.flex-wrap;
  justify-content: space-between;
  padding: 3rem 0 5rem;
  font-size: 1.3rem;
}
