@use "./variables" as v;

header {
  @include v.flex-wrap;
  justify-content: space-between;
  padding: 1rem 0;

  .logo {
    font-size: 1.8rem;
  }

  nav {
    @include v.flex-wrap;
    gap: 1rem;

    a {
      color: v.$light;

      &:hover {
        color: v.$primary;
      }
    }
  }
}

$darkenColor: lighten(v.$dark, 20%);

.hero {
  @include v.flex-wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  &-text {
    flex: 0 0 30%;

    h1,
    h2 {
      padding: 0;
    }
  }

  img {
    flex: 0 0 20%;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    outline: 5px solid $darkenColor;
  }
}

main {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    padding: 3rem 0 0;

    &#projects {
      @include v.flex-wrap;
      flex-direction: column;
      gap: 0 3rem;

      h2 {
        // flex: 1 0 100%;
      }

      article.projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        grid-template-rows: auto;
        gap: 2rem;

        .projects-card {
          // border: 1px solid v.$light;
          padding: 1.5rem;
          flex: 1 0 25%;

          img {
            border-radius: 0.5rem;
          }

          div {
            font-size: 1.4rem;

            &.buttons {
              @include v.flex-wrap;
              gap: 1.5rem;
              padding: 0.5rem 0;

              a {
                border: 1px solid v.$light;
                border-radius: 1rem;
                padding: 0.5rem 1rem;
                color: v.$light;
              }
            }
          }
        }
      }
    }

    &#resume {
      article {
        .experience {
          ul {
            li {
            }
          }
        }

        h6 {
          .timeframe {
            background-color: v.$light;
            color: v.$dark;
            border-radius: 0.5rem;
            padding: 0rem 1rem 0.25rem;
            margin-left: 2rem;
            font-size: 1.3rem;
          }
        }
      }
    }

    &#about {
    }

    &#contact {
      display: flex;
      flex-direction: column;
      width: 100%;

      form {
        max-width: 56rem;
        width: 100%;

        label {
          @include v.flex-wrap;
          padding: 1rem 0;
          font-size: 1.8rem;

          input,
          textarea {
            flex: 1 0 100%;
            margin: 1rem 0;
            padding: 1rem;
            font-size: 1.8rem;
            font-family: v.$font;
            background-color: v.$dark;
            border: 2px solid rgba(darken(v.$primary, 20%), 0.5);
            border-radius: 1rem;
            color: v.$light;
          }
        }
      }
    }

    div.languages {
      @include v.flex-wrap;
      gap: 1rem;
      padding: 1rem 0;

      span {
        background-color: v.$light;
        color: v.$dark;
        border-radius: 0.5rem;
        padding: 0.3rem 0.5rem;
        font-size: 1.2rem;
      }
    }
  }
}

footer {
  @include v.flex-wrap;
  justify-content: space-between;
  padding: 3rem 0 5rem;
  font-size: 1.3rem;
}
