@use "./variables" as v;

header {
  @include v.flex-wrap;
  justify-content: space-between;
  padding: 2rem 0;
  position: sticky;
  top: 0;
  background-color: v.$dark;

  .logo {
    color: v.$primary;
    font-size: 1.8rem;
    font-family: v.$headingFont;
    margin: -0.8rem 0;
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 1rem;
    cursor: pointer;

    img {
      height: 5rem;
    }
  }

  nav {
    @include v.flex-wrap;
    gap: 0 1rem;

    a {
      padding: 0.5rem;
    }

    &.mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 1;
      background-color: v.$light;
      padding: 6rem 0;
      flex-direction: column;
      align-items: center;

      a {
        color: v.$dark;
      }

      h4 {
        color: v.$primary;
      }
    }
  }

  .mobile-menu-icon {
    display: none;
    flex-direction: column;
    gap: 0.8rem;
    z-index: 2;
    position: relative;
    cursor: pointer;
    padding: 0 0.5rem;

    span {
      height: 0;
      width: 2rem;
      border: 1px solid v.$light;
      transition: all 0.3s ease;
    }

    &.active {
      span {
        border-color: v.$dark;

        &:first-child {
          transform: rotate(45deg);
          margin-top: 0.8rem;
        }

        &:nth-child(2) {
          display: none;
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-45deg);
          margin-top: -1rem;
        }
      }
    }
  }
}

.hero {
  @include v.flex-wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem 0;
  padding: 2rem 0 0;

  &-text {
    flex: 0 1 45rem;

    h1,
    h2 {
      padding: 0;
    }

    h1 {
      color: v.$secondary;
      font-weight: 500;
    }

    h2 {
      color: v.$primary;
      font-weight: 100;
    }
  }

  img {
    width: 20rem;
    border-radius: 50%;
    outline: 5px solid v.$primaryDark2;
  }
}

main {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    padding: 5rem 0 0;

    h2 {
      color: v.$primary;
      font-weight: 900;
    }

    &#projects {
      @include v.flex-wrap;
      flex-direction: column;
      gap: 0 3rem;

      article.projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        grid-template-rows: auto;
        gap: 2rem;

        .projects-card {
          padding: 1.5rem;
          flex: 1 0 25%;

          .img-container {
            position: relative;
            border-radius: 0.5rem;
            transition: transform 0.5s ease;
            z-index: 0;

            &:hover {
              transform: scale(1.05);
            }

            img {
              border-radius: 0.5rem;
            }

            h6 {
              position: absolute;
              bottom: 0.5rem;
              padding: 0.75rem 2rem;
              background-color: rgba(0, 0, 0, 0.7);
            }
          }

          h4 {
            color: v.$secondary;
          }

          div {
            font-size: 1.4rem;

            &.buttons {
              @include v.flex-wrap;
              gap: 1.5rem;
              padding: 0.5rem 0;
            }
          }
        }
      }
    }

    &#resume {
      article {
        padding: 0 0 1rem;

        h4 {
          color: v.$secondary;
        }

        & > div {
          padding-bottom: 1rem;
        }

        .experience,
        .education {
          h5 {
            padding: 2rem 0 0;
            display: inline-flex;
            align-items: baseline;
            gap: 1rem;

            span {
              display: inline-flex;
              gap: 0;
              transition: gap 0.3s ease;
            }

            svg {
              opacity: 0;
              width: 0;
              height: 1.8rem;
              transition: all 0.3s ease;
              fill: v.$light;
            }

            .online {
              font-size: 1.3rem;
              background-color: v.$light;
              color: v.$dark;
              border-radius: 1rem;
              font-family: v.$bodyFont;
              padding: 0 0.5rem;
              margin-left: 0.5rem;
            }

            .timeframe {
              display: inline-block;
              font-family: v.$bodyFont;
              color: v.$primaryDark;
              margin-left: 0.5rem;
              font-size: 1.4rem;
              font-weight: 500;
            }

            a {
              color: v.$light;
              font-size: inherit;
              display: inline-flex;
              align-items: center;
            }
          }

          &:hover h5 {
            span {
              gap: 0.5rem;
            }

            svg {
              display: inline;
              opacity: 1;
              width: 1.8rem;
            }
          }

          h6 {
            padding: 1rem 0 0;
            color: v.$primary;
          }

          ul {
            padding: 1.5rem 0 0;
            margin: 0;

            li {
              list-style: inside;
            }
          }
        }
      }
    }

    &#about {
      h4 {
        color: v.$light;
      }

      article {
        .languages span {
          font-size: 1.4rem;
          font-weight: 700;
          transition: all 0.2s ease;

          &:hover {
            background-color: v.$light;
            color: v.$dark;

            svg.inverted {
              filter: none;
            }
          }

          svg {
            font-size: 1.8rem;

            &.inverted {
              filter: invert(1);
            }
          }
        }
      }
    }

    &#contact {
      display: flex;
      flex-direction: column;
      width: 100%;

      form {
        max-width: 56rem;
        width: 100%;

        label {
          @include v.flex-wrap;
          padding: 1rem 0;
          font-size: 1.8rem;

          input,
          textarea {
            flex: 1 0 100%;
            margin: 1rem 0;
            padding: 1rem;
            font-size: 1.8rem;
            font-family: v.$bodyFont;
            background-color: v.$dark;
            border: 2px solid rgba(v.$primary, 0.5);
            border-radius: 1rem;
            color: v.$light;
            box-sizing: border-box;
          }
        }

        p {
          padding: 0.5rem 1rem;
          margin: 0;
        }
      }
    }

    div.languages {
      @include v.flex-wrap;
      gap: 1rem;
      padding: 1rem 0;

      span {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        background-color: v.$dark;
        color: v.$light;
        border: 1px solid v.$primaryDark2;
        border-radius: 1rem;
        padding: 0.5rem 1.5rem;
        font-size: 1.3rem;
      }
    }
  }
}

footer {
  @include v.flex-wrap;
  justify-content: space-between;
  padding: 3rem 4rem 4rem;
  font-size: 1.3rem;
  background-color: v.$light;
  color: v.$dark;
  margin: 0 -4rem;
  flex: 1 0 100%;
  gap: 1rem;

  &:first-child {
    justify-content: space-between;
  }

  a {
    color: v.$dark;
    font-size: inherit;
    display: inline;
    padding: 0;
    text-decoration: underline;
  }

  nav {
    display: flex;
    gap: 1rem;

    a {
      color: v.$dark;
      padding: 0 0.5rem;
      text-decoration: none;

      &:hover {
        color: v.$primaryDark;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    .mobile-menu-icon {
      display: flex;
    }

    nav {
      display: none;

      &.mobile {
        display: flex;
      }
    }
  }

  main section {
    &#projects {
      article.projects-grid {
        .projects-card {
          .img-container {
            z-index: -1;
          }
        }
      }
    }

    &#resume {
      article {
        .experience,
        .education {
          h5 {
            flex-wrap: wrap;

            svg {
              display: inline-block;
              opacity: 1;
              height: 1.8rem;
              width: 1.8rem;
            }

            span.timeframe {
              margin-left: 0;
              flex: 1 0 100%;
            }
          }
        }
      }
    }
  }
}
